html, body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.list-element {
    width: 100%;
    height: 35px;
    background: #f5f4fa;
    border-radius: 3px;
    padding: 8px;

    display: flex;
    align-items: center;

}

#container-lista {
    display: grid;
    gap: 4px;
    align-content: flex-start;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: auto;

    padding: 32px;
}